{% extends 'Comp/base1.html' %}
{% load static %}

<html>
{% block content %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'Account/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'Account/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'Account/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="'{% static 'Account/css/style.css' %}">

  </head>
  <body>
<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="https://png.pngtree.com/png-clipart/20221026/original/pngtree-log-in-people-sign-username-png-image_8729623.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Change Password </h3>
              </div>

		
					<form onsubmit="return resetValidate()" action="{% url 'change_password' %}" method="post"
						id="logform" name="logform">
						<!-- {{error}} -->
						{% include 'Message.html' %}
						{% csrf_token %}
						<div class="form-group first">
							<label  for="Current Password">Current Password : </label>
							
									<input type="password" class="password" id="currentpassword" name="current_password"
								placeholder="current Password" class="form-control input-sm"/>
									<span id="current" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
								</div>
						
						
						<div class="form-group first">
							<label  for="New Password">New Password  : </label>
								
									<input type="password" class="password" id="newpassword" name="new_password"
								placeholder="new Password" class="form-control input-sm"/>
									<span id="new" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
						</div>
							
						<div class="form-group first">
							
								<label  for="cpassword">Confirm Password :</label>
								
									<input type="password" class="password" id="confirmpassword" name="confirm_password"
								placeholder="Confirm Password" class="form-control input-sm"/>
									<span id="confirm" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
								</div>
						
						<div class="form-group first">
								<input type="submit" value="Change Password" class="btn btn-primary btn-sm">
							</div>
					</form>
				</div>
			</div>
			
		  </div>
		  
		</div>
	  </div>
	</div>

					
			

<script type="text/javascript">
	function resetValidate() {

		var val = document.getElementById('currentpassword').value;
		if(val=="")
		{
			document.getElementById('current').innerHTML="**Password can't be null!!";
			return false;
		}
		else{
			document.getElementById('current').value = "";
		}
		 
		var val = document.getElementById('newpassword').value;
		if(val=="")
		{
			document.getElementById('new').innerHTML="**Password can't be null!!";
			return false;
		}
		else{
			document.getElementById('new').value = "";
		}
		if (!val.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/)) 
		{
			document.getElementById('new').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters'";
			return false;
		}
		else{
			document.getElementById('new').value = "";
		}

		var val = document.getElementById('confirmpassword').value;
		if(val=="")
			{
				document.getElementById('confirm').innerHTML="**Password can't be null!!";
				return false;
			}
			else{
			document.getElementById('confirm').value = "";
		}

		if(val != document.getElementById('newpassword').value){
		document.getElementById('confirm').innerHTML="**passwords should be matching";
		return false;
		}
		else{
		document.getElementById('confirm').innerHTML="";
		}
}
  

function npasswordValidation(inputTxt){

var textField = document.getElementById("current");
	
if(inputTxt.value != '' ){
	textField.textContent = '';
	textField.style.color = "green";  
}else{
	textField.textContent = '**Password cannot be null!!';
	textField.style.color = "red";
}
}



	function passwordValidation(inputTxt){

	var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
	var textField = document.getElementById("new");
		
	if(inputTxt.value != '' ){
			if(inputTxt.value.match(regx)){
				textField.textContent = '';
				textField.style.color = "green";
					
			}else{
				textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
				textField.style.color = "red";
			}    
	}else{
		textField.textContent = '**Password cannot be null!!';
		textField.style.color = "red";
	}
}

function cpasswordValidation(inputTxt){

var regx =  document.getElementById("confirmpassword").value;
var regy =  document.getElementById("newpassword").value;
var textField = document.getElementById("confirm");
	
if(inputTxt.value != '' ){
		if(regx == regy){
			textField.textContent = '';
			textField.style.color = "green";
				
		}else{
			textField.textContent = '**password should be matching';
			textField.style.color = "red";
		}    
}else{
	textField.textContent = '**Password cannot be null!!';
	textField.style.color = "red";
}
}


</script>



  </body>
{% endblock content %}
</html>