
	{% extends 'base.html' %}
{% load static %}
<html>
    
	{% block content %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'Account/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'Account/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'Account/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="'{% static 'Account/css/style.css' %}">

  </head>
  <body>
<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1095.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Forgot Password </h3>
              </div>

			  <form onsubmit="return forgotValidate()" action="{% url 'forgotPassword' %}" method="post" id="logform" name="logform">
		
				{% include 'Message.html' %}
				{% csrf_token %}
				<div class="form-group first">
				  <label for="username">Email ID:</label>
				 			
								  <input type="email" name="email" path="email" id="email" placeholder="Email" autocomplete="off" class="form-control input-sm"/>
									<span id="log-email" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
								</div>
				
									<input type="submit" value="Sent Mail" class="btn btn-primary btn-sm">
							
					</form>
<br>
<br>
					<p class="account"> If you Remember your Password <a href="{% url 'login' %}">Login</a></p>
				</div>
			</div>
			
		  </div>
		  
		</div>
	  </div>
	</div>

<script type="text/javascript">
	function forgotValidate() {
		var email = document.getElementById('email1').value;
		var form = document.getElementById('logform');
		const isEmailValid = (email) => {
			const re =
				/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(email);
		};


		if (email == "") {
			// document.getElementById('email2').innerHTML = "please provide email";
			document.getElementById("log-email").textContent = "***please provide email";
			document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("log-email").style.color = "red";
			return false;
		} else if (isEmailValid(email) == false) {
			document.getElementById("log-email").textContent = "***Please provide valid email";
			document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("log-email").style.color = "red";
			return false;
		} else {
			// submit forms
			form.submit();
		}
	}
</script>




{% endblock content %}
</body>
</html>