
{% extends 'Employee/userbase.html' %}
{% load static %}

{% block content %}
	<div id="titlebar">
		<div class="container">
			<div class="ten columns">
				<h2>Hi {{ user.username }}, Jobs that you Applied</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- Recent Jobs -->{% csrf_token %}
            {% include 'Message.html' %}
		<div class="eleven columns">
			<div class="padding-right">
				<ul class="job-list full">
					
					{% for applied_job in applied_jobs %}
						<li>
							<div class="thumb"><img src="{{ applied_job.job.logo.url }}" class="img-responsive" alt=""/></div>

							<div class="job-list-content">
								<h4>{{ applied_job.job.companyname }}/{{ applied_job.job.jobname }}
									{% if applied_job.job.jobtype == 'Full-Time' %}
									<span class="full-time">Full-Time</span>
									{% elif applied_job.job.jobtype == 'Part-Time' %}
									<span class="part-time">Part-Time</span>
									{% elif applied_job.job.jobtype == 'Internship' %}
									<span class="internship">Internship</span>
									{% endif %}</h4>
								<div class="job-icons">
									<span><i class="fa fa-briefcase"></i> {{ applied_job.job.jobname }} </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<span><i class="fa fa-map-marker"></i> {{ applied_job.job.location }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<span><i class="fa fa-money"></i>{{ applied_job.job.salarypackage }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</div>
								<p>{{ applied_job.job.companyaddress }}</p>
								{% if applied_job.status %}
									<button>Applied</button>
								{% elif applied_job.accept %}
									<button>Accepted</button>
								{% elif applied_job.reject %}
									<button>Rejected</button>
								{% endif %}
							</div>
              {% empty %}
					
					<p colspan="4">You have no Saved Jobs.</p>
					<img src="https://i.pinimg.com/564x/65/20/5f/65205f3ee1b5dd65b91d3fa279990927.jpg" style="height:500px;width:350px;align-self:center;">

							<div class="clearfix"></div>
						</li>
					{% endfor %}
				</ul>
				<div class="clearfix"></div>

				<div class="pagination-container">
					<center>
						<nav class="pagination">
							<ul>
								{% for page_num in applied_jobs.paginator.page_range %}
									{% if applied_jobs.number == page_num %}
										<li><a href="#" class="current-page">{{ page_num }}</a></li>
									{% else %}
										<li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</nav>
					</center>

					<nav class="pagination-next-prev">
						<ul>
							{% if applied_jobs.has_previous %}
								<li><a href="?page={{ applied_jobs.previous_page_number }}" class="prev">Previous</a></li>
							{% endif %}
							{% if applied_jobs.has_next %}
								<li><a href="?page={{ applied_jobs.next_page_number }}" class="next">Next</a></li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<!-- Back To Top Button -->
	<div id="backtotop"><a href="#"></a></div>
{% endblock %}
