
{% extends 'Employee/userbase.html' %}
{% load static %}

<!DOCTYPE HTML>
<html>
{% block content %}
<body>
	<div id="titlebar">
		<div class="container">
			<div class="ten columns">
				
				<h2>Jobs Applied by you</h2>
			</div>
	
		
	
		</div>
	</div>
	
<div class="container">
	<!-- Recent Jobs -->
 <div class="eleven columns">
	<div class="padding-right">
		
		


		<ul class="job-list full">
			{% for applied_job in applied_jobs %}
			<li>
				<div class="thumb"><img src="{{i.logo.url}}" class="img-responsive" alt=""/></a></div>
				
				<div class="job-list-content">
					<a href="{%  url 'singlejob' i.id %} ">
					<h4>  	{{ applied_job.job.companyname }}/{{ applied_job.job.jobname }} <span class="full-time">{{i.jobtype}}</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> {{ applied_job.job.jobname }} </span>
						<span><i class="fa fa-map-marker"></i> {{applied_job.job.location}}</span>
						<span><i class="fa fa-money"></i>{{applied_job.job.salarypackage}}</span>
						
					</div>
					<p> {{applied_job.job.companyaddress}}</p>
					<p>Status: {{ applied_job.get_status_display }}</p>
					{% empty %}
					<tr>
					  <td colspan="4">You haven't applied to any jobs yet.</td>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>

			{% endfor %}
		</ul>
		<div class="clearfix"></div>

		<div class="pagination-container">
			  <center>    <nav class="pagination">
				<ul>
					   <li><a href="#" class="current-page">1</a></li>
					    <li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="blank">...</li>
					<li><a href="#">22</a></li>
				</ul>
			      </nav></center>
           
			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev">Previous</a></li>
					<li><a href="#" class="next">Next</a></li>
				</ul>
			</nav>
		</div>

	</div>
	</div>



</div>
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
</body>
	
{% endblock %}		






	
		





</html>	