{% extends 'Employee/userbase.html' %}
{% load static %}

{% block content %}


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Sweetify CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.min.css">

<!-- Sweetify JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://teacherathon.org/images/registration-form-section-image.png" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'Account/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'Account/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'Account/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="'{% static 'Account/css/style.css' %}">

  
  </head>
  <body>
  

  
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-md-2">
            <img src="https://jobs.static.inrae.fr/cdn/ff/NOcNmgRaW1MOEze-9SKG4IPHOJaApG9Yl58JF8NF1zw/1598602498/public/jpeg/AdobeStock_272394375-iiierlok_xolms-alerte%20emploi_0.jpeg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                <h3>Job Alerts  </h3>
                </div>

      <form method="post">
        {% csrf_token %}
        {% include 'Message.html' %}
        <table class="table">
          <tr>
            <th>Keywords:</th>
            <td>{{ form.keywords }}</td>
          </tr>
          <tr>
            <th>Industry:</th>
            <td>{{ form.industry }}</td>
          </tr>
          <tr>
            <th>Experience Level:</th>
            <td>{{ form.experience_level }}</td>
          </tr>
          <tr>
            <th>Category:</th>
            <td>{{ form.category }}</td>
          </tr>
          <tr>
            <th>Job Type:</th>
            <td>{{ form.jobtype }}</td>
          </tr>
          <tr>
            <th>Location:</th>
            <td>{{ form.location }}</td>
          </tr>
        </table>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
</div>

</div>

</div>
</div>
</div>


<script src="{% static 'Account/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'Account/js/popper.min.js' %}"></script>
<script src="{% static 'Account/js/bootstrap.min.js' %}"></script>
<script src="{% static 'Account/js/main.js' %}"></script>

</body>
{% endblock %}

    

</html>

