{% extends 'Employee/userbase.html' %}
{% load static %}

{% block head %}
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
	<div id="titlebar">
		<div class="container">
			<div class="ten columns">
				<span>We are here for you:</span>
				<h2>Find your Job</h2>
			</div>
		</div>
	</div>
	
	<div class="container">
		<!-- Recent Jobs -->
		<div class="eleven columns">
			<div class="padding-right">
			
					<form action="{% url 'search' %}" method="GET" class="list-search">
					<button><i class="fa fa-search"></i></button>
					<input type="text" class="ico-01" placeholder="job title, keywords or company name" value="" name="query" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Keyword(s)';}"/>
				
					<div class="clearfix"></div>
				</form>
		
				<ul class="job-list full">
					{% for i in job_list %}
						<li>
							<div class="thumb">
								<img src="{{i.logo.url}}" class="img-responsive" alt=""/>
							</div>
							<div class="job-list-content">
							
									<h4>{{i.companyname}}/{{i.jobname}} 
										{% if i.jobtype == 'Full-Time' %}
										<span class="full-time">Full-Time</span>
										{% elif i.jobtype == 'Part-Time' %}
										<span class="part-time">Part-Time</span>
										{% elif i.jobtype == 'Internship' %}
										<span class="internship">Internship</span>
										{% endif %}
									</h4>
									<br>
									<div class="job-icons">
										<span><i class="fa fa-briefcase"></i> {{i.jobname}}</span> &nbsp;&nbsp;&nbsp;
										<span><i class="fa fa-map-marker"></i> {{i.location}}</span>&nbsp;&nbsp;&nbsp;
										<span><i class="fa fa-money"></i>{{i.salarypackage}}</span>&nbsp;&nbsp;&nbsp;
										<span><i class="fa fa-calendar"></i>Posted on :{{i.date_posted|date:"F d, Y"}}</span>&nbsp;&nbsp;&nbsp;
									</div>
									<br>
									<p>{{i.jobdescription|truncatewords:30}}
										<a href="{% url 'singlejob' i.id %}">Read More</a>
									</p>
								
								<div class="clearfix"></div>
							</div>
						</li>
						{% empty %}
					<img src="https://i.pinimg.com/564x/65/20/5f/65205f3ee1b5dd65b91d3fa279990927.jpg" style="height:500px;width:350px;align-self:center;">


					{% endfor %}
				</ul>
				<div class="clearfix"></div>
				<div class="pagination-container">
					<center>
						<nav class="pagination">
							<ul>
								{% if job_list.has_previous %}
									<li><a href="?page=1">First</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<li><a href="?page={{ job_list.previous_page_number }}">Previous</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								{% endif %}

								{% for num in job_list.paginator.page_range %}
									{% if job_list.number == num %}
										<li><a href="#" class="current-page">{{ num }}</a></li>&nbsp;&nbsp;&nbsp;
									{% elif num > job_list.number|add:'-3' and num < job_list.number|add:'3' %}
										<li><a href="?page={{ num }}">{{ num }}</a></li>&nbsp;&nbsp;&nbsp;
									{% endif %}
								{% endfor %}

								{% if job_list.has_next %}
									<li><a href="?page={{ job_list.next_page_number }}">Next</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<li><a href="?page={{ job_list.paginator.num_pages }}">Last</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								{% endif %}
							</ul>
						</nav>
					</center>
				</div>
			</div>
		</div>
		
	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>Sort by</h4>
		  
			<!-- Select -->
			<form method="get">
			  <select name="sorting" data-placeholder="Choose Category" class="chosen-select-no-single" onchange="this.form.submit()">
				<option {% if selected_sorting == 'recent' %}selected{% endif %} value="recent">Newest</option>
				<option {% if selected_sorting == 'oldest' %}selected{% endif %} value="oldest">Oldest</option>
				<option {% if selected_sorting == 'expiry' %}selected{% endif %} value="expiry">Expiring Soon</option>
				
			  </select>
			</form>
		  </div>
		  
		
		</div>

		<div class="widget">
			<h4>Filter by Job Type</h4>
			<form method="get">
				<input type="checkbox" name="jobtype[]" value="" {% if not jobtype_filters %}checked{% endif %}> All<br>
				<input type="checkbox" name="jobtype[]" value="Full-Time" {% if 'Full-Time' in jobtype_filters %}checked{% endif %}> Full-Time<br>
				<input type="checkbox" name="jobtype[]" value="Part-Time" {% if 'Part-Time' in jobtype_filters %}checked{% endif %}> Part-Time<br>
				<input type="checkbox" name="jobtype[]" value="Internship" {% if 'Internship' in jobtype_filters %}checked{% endif %}> Internship<br>
				<button type="submit">Apply Filters</button>
			</form>
		</div>
		

	</div>
	
	<!-- Widgets / End -->



	</div>
	<!-- Back To Top Button -->
	<div id="backtotop"><a href="#"></a></div>
{% endblock %}
