{% extends 'Employee/userbase.html' %}
{% load static %}

<!DOCTYPE HTML>
<html>
{% block content %}
<head>
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="titlebar">
		<div class="container">
			<div class="ten columns">
				
				<h2>Saved Jobs</h2>
			</div>
	
		
	
		</div>
	</div>
	
<div class="container">
	<!-- Recent Jobs -->
 <div class="eleven columns">
	<div class="padding-right">
		
		


		<ul class="job-list full">
			{% for i in jobs %}
			<li>
				
				
				<div class="thumb"><img src="{{i.job.logo.url}}" class="img-responsive" alt=""/></a></div>
				
				<div class="job-list-content">
					<a href="{%  url 'singlejob' i.id %} ">
					<h4>  	{{i.job.companyname}}/{{i.job.jobname}} <span class="full-time">{{i.job.jobtype}}</span></h4>
					<div class="job-icons">
					
						<span><i class="fa fa-briefcase"></i> {{i.job.jobname}}</span>
						<span><i class="fa fa-map-marker"></i> {{i.job.location}}</span>
						<span><i class="fa fa-money"></i>{{i.job.salarypackage}}</span>
						<span><i class="fa fa-calendar"></i>{{i.date_posted|date:"F d, Y"}}</span>
					</div>
					<p>{{i.job.jobdescription|truncatewords:30}}
					<a href="{%  url 'singlejob' i.id %}">Read More</a></p>
					<br>
                    <p>  Last date to Apply :{{i.job.enddate}}</p>               

				</div>
				</a>
				<div class="clearfix"></div>
			</li>

			{% endfor %}
		</ul>
		<div class="clearfix"></div>

		<div class="pagination-container">
			  <center>    <nav class="pagination">
				<ul>
					   <li><a href="#" class="current-page">1</a></li>
					    <li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="blank">...</li>
					<li><a href="#">22</a></li>
				</ul>
			      </nav></center>
           
			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev">Previous</a></li>
					<li><a href="#" class="next">Next</a></li>
				</ul>
			</nav>
		</div>

	</div>
	</div>



</div>
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
</body>
	
{% endblock %}		






	
		





</html>	