{% extends 'Employee/userbase.html' %}
{% load static %}

<!DOCTYPE HTML>
<html>
{% block content %}
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
window.onload = function () {
    document.getElementById("download")
        .addEventListener("click", () => {
            const invoice = this.document.getElementById("ab");
            console.log(invoice);
            console.log(window);
            var opt = {
                margin: 1,
                filename: 'Bus_pass.pdf',
                image: { type: 'jpeg', quality: 0.99 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'a3', orientation: 'p' }
            };
            html2pdf().from(invoice).set(opt).save();
        })
}
</script>
</head>

<body>
	<div id="titlebar">
		<div class="container">
			{% for i in Job %}
			<div class="ten columns">
				                               
				<span><a href="">{{i.jobname}}</a></span>
				<h2>{{i.jobname}} - {{i.companyname}}-{{i.jobtype}}</h2>
			</div>
	   
			{% endfor %}
	
		</div>
	</div>
	
	
	<!-- Content
	================================================== -->
	<div class="container">
		
		<!-- Recent Jobs -->
		<div class="eleven columns">
		<div class="padding-right">
			
			<!-- Company Info -->
			{% for i in Job %}
			
			<div class="company-info">
				<img src="{{i.logo.url}}" alt="">
				<div class="content">
					<h4>{{i.jobname}}</h4>
					<span><a href="#"><i class="fa fa-link"></i>{{i.companywebsite}} </a></span>
					<span><i class="fa fa-calendar"></i>{{i.date_posted|date:"F d, Y"}}</span>
		
				</div>
				<div class="clearfix"></div>
			</div>
			{% endfor %}
			{% for i in Job %}
			<p class="margin-reset">
				<h4 class="margin-bottom-10">Job Description</h4>
             {{i.jobdescription}}
			</p>
			{% endfor %}
			<br>
			{% for i in Job %}
			<h4 class="margin-bottom-10">Job Responsibility</h4>
	
			<ul class="list-1">
				{{i.responsibility}}
				</ul>
				{% endfor %}
			<br>
			{% for i in Job %}
			<h4 class="margin-bottom-10">Job Qualification</h4>
	
			<ul class="list-1">
				{{i.qualification}}
			</ul>
			{% endfor %}
		</div>
		</div>
	
	
		<!-- Widgets -->
		<div class="five columns">
			<div class="float-right">
				{% for i in Job %}	
{% if saved_job %}
        <button disabled>Saved</button>
      {% else %}
        <a href="{% url 'save-job' i.id %}">
          <button>Save Job</button>
        </a>
      {% endif %}
				
     
		
		{% endfor %}</div>
			<!-- Sort by -->
			<div class="widget">
				<h4>Overview</h4>
	        
				<div class="job-overview" id="ab">
					{% for i in Job %}
					<ul>
						<li>
							<i class="fa fa-map-marker"></i>
							<div>
								<strong>Location:</strong>
								<span>{{i.location}}</span>
							</div>
						</li>
						<li>
							<i class="fa fa-user"></i>
							<div>
								<strong>Experience</strong>
								<span>{{i.experience}}</span>
							</div>
						</li>
						<li>
							<i class="fa fa-phone"></i>
							<div>
								<strong>Contact:</strong>
								<span>{{i.companycontact}}</span>
							</div>
						</li>
						<li>
							<i class="fa fa-money"></i>
							<div>
								<strong>Salary Package:</strong>
								<span>{{i.salarypackage}}</span>
							</div>
						</li>
						<li>
					        <i class="fa fa-black-tie"></i>
							<div>
								<strong>Tagline:</strong>
								<span>{{i.tagline}}</span>
							</div>
							
						</li>
						<p>  Last date to Apply :{{i.enddate}}</p> 
					</ul>
				
	
	
	<a href="{% url 'Apply' pk=i.id %}" class=" button">Apply For This Job</a>
	{% endfor %}
			
	
			</div>
	
		</div>
		<!-- Widgets / End -->
	
	
	</div>
	
	
	
	
		<!-- Bottom -->
		
		
	
	</div>
	
	<!-- Back To Top Button -->
	<div id="backtotop"><a href="#"></a></div>
	
	</div>
	<!-- Wrapper / End -->
</body>
{% endblock %}
</html>	