<!DOCTYPE HTML>
{% extends 'Employee/userbase.html' %}
{% load static %}


<html>


<body >
{% block content %}
<!-- Banner
================================================== -->

<div id="banner" style="background:url(https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
	<div class="container">
		<div class="sixteen columns">
			
			<div class="search-container">

				<!-- Form -->
				<form action="{% url 'searchbar' %}" method="GET">
				<h2>Find job</h2>
				<input type="text" class="ico-01" placeholder="job title, keywords or company name" value="" name="query" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Keyword(s)';}"/>
				
				<button><i class="fa fa-search"></i></button>
				</form>

				
				
				

			</div>

		</div>
	</div>
</div>


<!-- Content
================================================== -->

<!-- Categories -->
<div class="container">
	<div class="sixteen columns">
		<h3 class="margin-bottom-25">Popular Categories</h3>
		<ul id="popular-categories">
			<li><a href="#"><i class="fa fa-line-chart"></i> Accounting / Finance</a></li>
			<li><a href="#"><i class="fa fa-wrench"></i> Automotive Jobs</a></li>
			<li><a href="#"><i class="fa fa-building-o"></i> Construction / Facilities</a></li>
			<li><a href="#"><i class="fa fa-graduation-cap"></i> Education Training</a></li>
			<li><a href="#"><i class="fa fa-medkit"></i> Healthcare</a></li>
			<li><a href="#"><i class="fa fa-cutlery"></i> Restaurant / Food Service</a></li>
			<li><a href="#"><i class="fa fa-globe"></i> Transportation / Logistics</a></li>
			<li><a href="#"><i class="fa fa-laptop"></i> Telecommunications</a></li>
		</ul>

		<div class="clearfix"></div>
		<div class="margin-top-30"></div>

		<a href="{%  url 'category'  %}" class="button centered">Browse All Categories</a>
		<div class="margin-bottom-50"></div>
	</div>
</div>


<div class="container">
	
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		<h3 class="margin-bottom-25">Recent Jobs</h3>
		
		<ul class="job-list full">
			{% for i in job_list %}
				<li>
					<div class="thumb">
						<img src="{{i.logo.url}}" class="img-responsive" alt=""/>
					</div>
					<div class="job-list-content">
					
							<h4>{{i.companyname}}/{{i.jobname}} 
								{% if i.jobtype == 'Full-Time' %}
                    <span class="full-time">Full-Time</span>
                    {% elif i.jobtype == 'Part-Time' %}
                    <span class="part-time">Part-Time</span>
                    {% elif i.jobtype == 'Internship' %}
                    <span class="internship">Internship</span>
                    {% endif %}
							</h4>
							<br>
							<div class="job-icons">
								<span><i class="fa fa-briefcase"></i> {{i.jobname}}</span> &nbsp;&nbsp;&nbsp;
								<span><i class="fa fa-map-marker"></i> {{i.location}}</span>&nbsp;&nbsp;&nbsp;
								<span><i class="fa fa-money"></i>{{i.salarypackage}}</span>&nbsp;&nbsp;&nbsp;
								<span><i class="fa fa-calendar"></i>Posted on :{{i.date_posted|date:"F d, Y"}}</span>&nbsp;&nbsp;&nbsp;
							</div>
							<br>
							<p>{{i.jobdescription|truncatewords:30}}
								<a href="{% url 'singlejob' i.id %}">Read More</a>
							</p>
						
						<div class="clearfix"></div>
					</div>
				</li>
				{% empty %}
			<img src="https://i.pinimg.com/564x/65/20/5f/65205f3ee1b5dd65b91d3fa279990927.jpg" style="height:500px;width:350px;align-self:center;">


			{% endfor %}
		</ul>
		{% if job_list.count > 2 %}
		<!-- Display the "Show More" button only if there are more than 3 jobs -->
		<a href="/Employee/joblist/" class="button centered"><i class="fa fa-plus-circle"></i> Show More Jobs</a>
	
		</a>
		{% endif %}
		
		<div class="margin-bottom-55"></div>
	</div>
	</div>

	<!-- Job Spotlight -->
	<div class="five columns">
		<h3 class="margin-bottom-5">Job Spotlight</h3>

		<!-- Navigation -->
		<div class="showbiz-navigation">
			<div id="showbiz_left_1" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
			<div id="showbiz_right_1" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
		</div>
		<div class="clearfix"></div>
		
		<!-- Showbiz Container -->
		<div id="job-spotlight" class="showbiz-container">
			<div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1" >
				<div class="overflowholder">

					<ul>
                        {% for i in job_list %}
						<li>
							<div class="job-spotlight">
								<a href="{%  url 'singlejob' i.id %}"><h4>{{i.jobname}} 
									{% if i.jobtype == 'Full-Time' %}
									<span class="full-time">Full-Time</span>
									{% elif i.jobtype == 'Part-Time' %}
									<span class="part-time">Part-Time</span>
									{% elif i.jobtype == 'Internship' %}
									<span class="internship">Internship</span>
									{% endif %}</h4></a>
								<span><i class="fa fa-briefcase"></i> {{i.jobname}}</span>
								<span><i class="fa fa-map-marker"></i> {{i.location}}</span>
								<span><i class="fa fa-money"></i>{{i.salarypackage}}</span>
								<p>{{i.companywebsite}} </p>
								<a href="{% url 'Apply' pk=i.id %}" class="button">Apply For This Job</a>
							</div>
						</li>

						{% endfor %}


						


					</ul>
					<div class="clearfix"></div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
       
	</div>
</div>





<!-- Infobox -->
<div class="infobox">
	<div class="container">
		<div class="sixteen columns">Prepare yourself for your Dream Job!! <a href="/Course/availablecourses/">Get Started</a></div>
	</div>
</div>

	<!-- Container / Start -->
	<div class="container">
		<div class="sixteen columns">
			<h3 class="margin-bottom-20">Available Courses</h3>
		</div>
		
		
		{% for i in c %}
		<div class="plan color-2 one-third column">
			<div class="plan-price">
				<h3>{{i.course}}</h3>
				<span class="plan-money">Rs</span>
				<span class="value">{{i.amount}}</span>
				
			</div>
			<div class="plan-features">
				<ul>
					<li>One Time Fee</li>
					<li>Start Date:{{i.start_date}}</li>
					<li>End Date:{{i.end_date}}</li>
					<li>Posted For 30 Days</li>
				</ul>
				{% if i.endroll_check %}
				<a class="button" href= "{% url 'endroll' i.slug %}">Enroll Now</a>
			{% else %}
				 <a class="button"  href="{{i.get_course_url}}">View course</a>
		 {% endif %}
		
				
			</div>
		</div>
		{% endfor %}
	
		{% if c.count > 3 %}
		<!-- Display the "Show More" button only if there are more than 3 jobs -->
		<a href="/Course/availablecourses/" class="button centered"><i class="fa fa-plus-circle"></i> Show More Jobs</a>
	
		</a>
		{% endif %}
		
		<div class="margin-bottom-55"></div>
	</div>
	<!-- Container / End -->
	
	<br>
	<br>
		
	
	
{% endblock %}

</body></html>

