{% extends 'Comp/base1.html' %}
{% load static %}
<html>


{% block content %}
<link rel="stylesheet" href="{% static 'new/css/style.css' %}">
<link rel="stylesheet" href="{% static 'new/css/colors/blue.css' %}" id="colors">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="wrapper">


<!-- Header
================================================== -->

<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>Manage Applications</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="/Company/Companyhome/">Home</a></li>
					<li>Job Dashboard</li>
				</ul>
			</nav>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	


	<div class="eight columns">
		<!-- Select -->
		<select data-placeholder="Filter by status" class="chosen-select-no-single" name="status">
			<option value="">Filter by status</option>
			<option value="Applied">New</option>
			<option value="Rejected">Rejected</option>
			<option value="Selected">Selected</option>
		</select>
		<div class="margin-bottom-15"></div>
	</div>

	<div class="eight columns">
		<!-- Select -->
		<select name="sort_by" data-placeholder="Newest first" class="chosen-select-no-single">
    <option value="">Newest first</option>
    <option value="oldest">Oldest first</option>
</select>
		<div class="margin-bottom-35"></div>
	</div>
	<div class="eight columns">
		<!-- Select -->
		<form method="GET">
			{% csrf_token %}
			<select data-placeholder="Filter by Jobname" class="chosen-select-no-single" name="jobname" onchange="this.form.submit()">
				<option value="">Filter by Jobname</option>
				{% for job in jobs %}
				<option value="{{ job.jobname }}" {% if request.GET.jobname == job.jobname %}selected{% endif %}>{{ job.jobname }}</option>
				{% endfor %}
			</select>
		</form>
		<div class="margin-bottom-15"></div>
	</div>
	

	<!-- Applications -->
	<div class="sixteen columns">
		{% if Apply %}
		{% for i in Apply %}
		<div class="application">
			<div class="app-content">
			
	
			
				<!-- Name / Avatar -->
				<div class="info">
					{% if i.cand.profilepic %}
					<img src="{{i.cand.profilepic.url}}" alt="">
                {% endif %}
				
					<span>{{i.cand.first_name}}
						{{i.cand.last_name}}</span>
					
						<ul>
							<li><a href="{{i.resumes.url }}" download><i class="fa fa-file-text"></i> Download CV</a></li>
	
						
						</ul>
						  Applied for: {{i.job.jobname}}
					
						
					
				</div>
				
	
				
				<!-- Buttons -->
				<div class="buttons">
					<a href="#one-{{ i.id }}" class="button gray app-link"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#two-{{ i.id }}" class="button gray app-link"><i class="fa fa-sticky-note"></i> Add Note</a>
					<a href="#three-{{ i.id }}" class="button gray app-link"><i class="fa fa-plus-circle"></i> Show Details</a>
				</div>
				<div class="clearfix"></div>

			</div>

			<!--  Hidden Tabs -->
			<div class="app-tabs">

				<a href="#" class="close-tab button gray"><i class="fa fa-close"></i></a>
				
		
				<!-- First Tab -->
			    <div class="app-tab-content" id="one-{{ i.id }}">
			
					<form action="{% url 'update_application_status' i.id %}" method="POST">
						{% csrf_token %}
						<div class="select-grid">
							<select data-placeholder="Application Status" class="chosen-select-no-single" name="status">
								<option value="">Application Status</option>
								<option value="Applied">New</option>
								<option value="Rejected">Rejected</option>
								<option value="Selected">Selected</option>
							</select>
						</div>
						<div class="clearfix"></div>
						<button type="submit" class="button margin-top-15">Save</button>
					
					
					<a href="{% url 'deleteApplication' i.id %}" class="button gray margin-top-15 delete-application">Delete this application</a>
				</form>
				
				
			    </div>
				
			    
			    <!-- Second Tab -->
			    <div class="app-tab-content"  id="two-{{ i.id }}">
					<form action="{% url 'note' %} " method="POST">
					<textarea   name="note" placeholder="Private note regarding this application"></textarea>
					<a href="#" class="button margin-top-15">Add Note</a>
			    </div>
			</form>
			    <!-- Third Tab -->
				
			
			    <div class="app-tab-content"  id="three-{{ i.id }}">
					<i>Full Name:</i>
					<span>{{i.cand.first_name}}
						{{i.cand.last_name}}</span>

					<i>Email:</i>
					<span><a href="mailto:{{i.cand.email}}">{{i.cand.email}}</a></span>

					<i>Mobile No:</i>
					<span>{{i.cand.contact}} </span>
					<i>Message :</i>
					<span>{{i.notes}} </span>
				
			    </div>


			
	
				
				
				
			</div>
			
		

			<!-- Footer -->
			<div class="app-footer">

				

				<ul>
					<li><i class="fa fa-file-text-o"></i> {{i.status}}</li>
					
					<li><i class="fa fa-calendar"></i>{{i.applieddate|date:"F d, Y"}} </li>
				
				</ul>
				<div class="clearfix"></div>

			</div>
		</div>
	{% endfor %}

	{% endif %}

	</div>	
	

</div>



	


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<script src="{% static 'new/scripts/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'new/scripts/custom.js' %}"></script>
<script src="{% static 'new/scripts/jquery.superfish.js' %}"></script>
<script src="{% static 'new/scripts/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'new/scripts/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'new/scripts/jquery.themepunch.showbizpro.min.js' %}"></script>
<script src="{% static 'new/scripts/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'new/scripts/chosen.jquery.min.js' %}"></script>
<script src="{% static 'new/scripts/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'new/scripts/waypoints.min.js' %}"></script>
<script src="{% static 'new/scripts/jquery.counterup.min.js' %}"></script>
<script src="{% static 'new/scripts/jquery.jpanelmenu.js' %}"></script>
<script src="{% static 'new/scripts/stacktable.js' %}"></script>

</body>

{% endblock %}

</html>