{% extends 'Comp/base1.html' %}
{% load static %}
<html>


{% block content %}
    
    <body class="sb-nav-fixed">
        
        
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">View Feedbacks</h1>
                       
                       
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Course Feedback
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th >Student Name</th>
                                            <th >Email ID</th>
                                            <th >Feedbacks</th>
                                            <th>Date</th>
                                            <th>Sentiment Score</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th >Student Name</th>
                                            <th >Email ID</th>
                                            <th >Feedbacks</th>
                                            <th>Date</th>
                                            <th>Sentiment Score</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        
                                     {% for f, score, s in std_feed %}
                                        <tr>
                                            <td >{{s.first_name}}&nbsp;{{std.last_name}}</td>
                                            <td >{{s.email}}</td>
                                            <td>{{f.feedback}}</td>
                                            <td >{{f.feedbackdate}}</td>
                                            <td>{{ score.compound }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
              
            </div>
        </div>
      
        {% endblock %}
    </body>
</html>