<!DOCTYPE html>
{% extends 'Employee/userbase.html' %}
{% load static %}
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> 
{% block content %}
<head>

    <link rel="stylesheet" href="{% static 'new/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'new/css/colors/pink.css' %}" id="colors">
    </head> 
<body>
<div id="wrapper">




<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>Available Courses
            </h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>Available Courses</li>
				</ul>
			</nav>
		</div>

	</div>
</div>



<!-- Pricing Tables
================================================== -->

<!-- Container / Start -->
<div class="container">

	


<!-- Container / Start -->
<div class="container">

	
	
	{% for i in c %}
	<div class="plan color-2 one-third column">
		<div class="plan-price">
			<h3>{{i.course}}</h3>
			<span class="plan-money">Rs</span>
			<span class="value">{{i.amount}}</span>
			
		</div>
		<div class="plan-features">
			<ul>
				<li>One Time Fee</li>
				<li>Start Date:{{i.start_date}}</li>
				<li>End Date:{{i.end_date}}</li>
				<li>Posted For 30 Days</li>
			</ul>
			{% if i.endroll_check %}
			<a class="button" href= "{% url 'endroll' i.slug %}">Enroll Now</a>
		{% else %}
			 <a class="button"  href="{{i.get_course_url}}">View course</a>
	 {% endif %}
	
			
		</div>
	</div>
    {% endfor %}


</div>
<!-- Container / End -->

<br>
<br>





</div>
<!-- Container / End -->
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->



</body>
{% endblock %}
</html>