<!DOCTYPE html>
{% extends 'Employee/userbase.html' %}
{% load static %}
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> 
{% block content %}
<head>

    </head> 
<body>
<div id="wrapper">




<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>Available Courses</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="/Employee/userhome/">Home</a></li>
					<li>Available Courses</li>
				</ul>
			</nav>
		</div>

	</div>
</div>



<!-- Pricing Tables
================================================== -->

<!-- Container / Start -->
<div class="container">

	
	{% for course in courses %}
	<div class="plan color-2 one-third column">
		<div class="plan-price">
			<h3>{{ course.course }}</h3>
			<span class="plan-money">Rs</span>
			<span class="value">{{ course.amount }}</span>
			
		</div>
		<div class="plan-features">
			<ul>
				<li>One Time Fee</li>
				<li>Start Date:{{ course.start_date }}</li>
				<li>End Date:{{ course.end_date }}</li>
				<li>Posted For 30 Days</li>
			</ul>
			{% if course.endroll_check %}
			<a class="button" href= "{% url 'endroll' course.slug %}">Enroll Now</a>
		{% else %}
			 <a class="button"  href="{{ course.get_course_url }}">View course</a>
	 {% endif %}
	
			
		</div>
	</div>
	{% empty %}
					
	<p colspan="4">Their is no Available courses.</p>
	<img src="https://i.pinimg.com/564x/65/20/5f/65205f3ee1b5dd65b91d3fa279990927.jpg" style="height:500px;width:350px;align-self:center;">

    {% endfor %}


	<div class="clearfix"></div>
	<div class="pagination-container">
		<center>
			<nav class="pagination">
				<ul>
					{% if courses.has_previous %}
						<li><a href="?page=1">First</a></li>
						<li><a href="?page={{ courses.previous_page_number }}">Previous</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% endif %}

					{% for num in courses.paginator.page_range %}
						{% if courses.number == num %}
							<li><a href="#" class="current-page">{{ num }}</a></li>&nbsp;&nbsp;&nbsp;
						{% elif num > courses.number|add:'-3' and num < courses.number|add:'3' %}
							<li><a href="?page={{ num }}">{{ num }}</a></li>&nbsp;&nbsp;&nbsp;
						{% endif %}
					{% endfor %}

					{% if courses.has_next %}
						<li><a href="?page={{ courses.next_page_number }}">Next</a></li>&nbsp;&nbsp;&nbsp;
						<li><a href="?page={{ courses.paginator.num_pages }}">Last</a></li>&nbsp;&nbsp;&nbsp;
					{% endif %}
				</ul>
			</nav>
		</center>
	</div>


</div>
<!-- Container / End -->

<br>
<br>



</div>
<!-- Container / End -->
<!--
<br>
<br>





</div>
<!-- Container / End -->
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->



</body>
{% endblock %}
</html>

