<!DOCTYPE html>
{% extends 'Employee/userbase.html' %}
{% load static %}
{% block content %}
<head>
</head>

<body>
<div id="wrapper">


<!-- Header
================================================== -->


<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2> Enrolled Courses</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="/Employee/userhome/">Home</a></li>
					<li>Enrolled Courses</li>
				</ul>
			</nav>
		</div>

	</div>
</div>



<!-- Pricing Tables
================================================== -->

<!-- Container / Start -->
<div class="container">

	

<!-- Container / Start -->
<div class="container">
	
	{% for i in c %}
	<div class="plan color-2 one-third column">
		<div class="plan-price">
            <a href="{{i.get_course_url}}">	<h3>{{i.course}}</h3></a>
			<span class="plan-currency">$</span>
			<span class="value">{{i.amount}}</span>
		</div>
		<div class="plan-features">
			<ul>
				<li>{{i.duration}}</li>
			
			</ul>
			<a class="button" href="{% url 'course_cancel' i.id %}">Cancel</a>
		</div>
	</div>


	{% empty %}
					
	<p colspan="4">You have no Enrolled Courses.</p>
	<img src="https://i.pinimg.com/564x/65/20/5f/65205f3ee1b5dd65b91d3fa279990927.jpg" style="height:500px;width:350px;align-self:center;">

	{% endfor %}
			
	
<!-- Container / End -->
</div>
<br>
<br>

	

	
	

	




<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


</body>
{% endblock %}
</html>