
</html>
{% extends 'Comp/base1.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    {% block content %}
    <link rel="stylesheet" href="{% static 'new/css/style.css' %}">
<link rel="stylesheet" href="{% static 'new/css/colors/blue.css' %}" id="col">
            <body>
                
            <div id="layoutSidenav_content">
      


                <main>
                    <div class="container-fluid px-4">
                        
                       
                  
                        <div id="titlebar" class="single">
                            <div class="container">
                        
                                <div class="sixteen columns">
                                    <h2>Enrolled  Candidates List</h2>
                                    <nav id="breadcrumbs">
                                        <ul>
                                            <li>You are here:</li>
                                            <li><a href="#">Home</a></li>
                                            <li>Enrolled Candidates List</li>
                                        </ul>
                                    </nav>
                                </div>
                        
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Course </th>
                                            <th>Start Date</th>
                                            <th> Expected End Date </th>
                                            
                                            <th>Student name</th>
                                            <th>Phone</th>
                                            <th>Email ID</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Course Name </th>
                                            <th>Start Date</th>
                                            <th> Expected End Date </th>
                                            
                                            <th>Student name</th>
                                            <th>Phone</th>  
                                            <th>Email ID</th>
                                        </tr>
                                    </tfoot>
                                    {% if std %}
                                    <tbody>
                                        {% for i in std %}
                                        <tr>
                                            <td>{{course.course}}</td>
                                        
                                            <td>     {{course.start_date}}</td>
                                            
                                            <td>{{course.end_date}}</td>
                                            <td>{{i.first_name}}&nbsp;{{i.last_name}}</td>
                                            <td>{{i.contact}}</td>
                                            <td>{{i.email}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                    </div>
                </main>
            </div>
        </body>
        {% endblock %}
</html>
