<!DOCTYPE HTML>
{% extends 'Employee/userbase.html' %}
{% load static %}
<html>


<body >
{% block content %}
<div id="wrapper">


<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			
			<h2>Your Course</h2>
		
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">

	<!-- Blog Posts -->
	<div class="eleven columns">
		<div class="padding-right">

			{% if video_key %}
			<div class="post-container">
				<div class="post-img">
					<video  controls>
						<source src="{{video_key.video.url}}">
					</video>
				</div>
			</div>
				
			{% endif %}	
						
{% if c_videos %}

{% for v in c_videos.object_list %}

<video autoplay muted style="width: 20%;" >
	<source src="{{v.video.url}}" >
</video>

 <a href="{{v.get_course_video_url}}"   style="width:100%;height:100%;">{{v.title}} </a>
 <br><br>
 
 <div class="post-content">
 
	
 </div>
{% endfor %}

<div class="mx-auto">
 {% if c_videos.paginator.num_pages > 1 %}

 <hr>
 <div class="text-center">
	 {% for pg in c_videos.paginator.page_range %}
		<a href="?page={{pg}}" class="btn btn-light btn-sm {% if c_video.number == pg %} active {% endif %}">{{pg}}</a>
	 {% endfor %}
 </div>
 {% endif %}
</div>
<br>
{% endif %}
				
			</div>

	</div>
	<!-- Blog Posts / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->



</body>
{% endblock %}
</html>