{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
</head>
<body>
  <h1>Sentiment Analysis</h1>
  <hr>
  <h3>Feedback:</h3>
  <p>{{ feedback.feedback }}</p>
  <p><small>Submitted on {{ feedback.feedbackdate }}</small></p>

  <h3>Sentiment Analysis:</h3>
  <div style="width: 500px; height: 500px;">
    <canvas id="myChart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const data = {{ data|safe }};
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
        scales: {
          y: {
            beginAtZero: true,
            max: 100,
            callback: function(value) {return value + "%"}
          }
        }
      }
    });
  </script>

</body>
{% endblock %}
